@import "tailwindcss";

@theme {
  /* Golden */
  --color-primary: #d2b371;
  /* whitesmoke */
  --color-whitesmoke: #f5f5f5;
  /* white */
  --color-white: #ffffff;
  /* dark black */
  --color-dark-black: #0a0a0a;
  /* multiple gray variant */
  --color-gray-950: #0a0a0a;
  --color-gray-900: #1a1a1a;
  --color-gray-800: #2a2a2a;
  --color-gray-700: #3a3a3a;
  --color-gray-600: #4a4a4a;

  --font-primary: "Gilda Display", serif;
  --font-secondary: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-white);
    font-family: var(--font-primary);
    scroll-behavior: smooth;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-secondary);
  }
}

@layer utilities {
  .font-primary {
    font-family: var(--font-primary);
  }

  .font-secondary {
    font-family: var(--font-secondary);
  }
}
